@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-01:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-02: 'Passion One', cursive;
    --fonte-03: 'Sriracha', cursive;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header > h1 {
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-02);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

a { 
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-03);
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 50, 50);
    color: white;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.13);
    padding: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}