@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap');
    
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fA866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'bebas neue', cursive,sans-serif;
    --fonte-android:'android', helvetica, serif.
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(var(--cor3), var(--cor5));
    padding:1px;
    margin:0px;
    text-shadow: 1px 1px 5px black;
}
header>h1{
    font-family: 'bebas neue', arial;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.2em;
}
header>p{
    text-align: center;
    color: white;
    padding: 0px 0px 15px 0px;
        
}
header>nav>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;    
}
main{
    margin: auto auto 20px auto;
    padding: 5px;
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.377);
    border-radius: 0px 0px 10px 10px;
}
article{
    padding: 12px;
}
article>p{
    font-size: 1.1em;
    
    text-indent: 30px;
    text-align: justify;
}
article > h1{
    font-size: 2em;
    font-family: 'android';
    color: #063D1E;
}
article>h2{
    font-size: 1.5em;
    font-family: 'android';
    background-image: linear-gradient(to right, #C5EBD6, white);
    color: #063D1E;
}
picture>.irina{
    width: 100%;
    max-width: 775px;
}

#bugdroid{
    max-width: 350px;
    display: block;
    margin: auto;
}
.video{
    background-color: var(--cor5);
    margin: 0px -17px 30px -17px;
    position: relative;
    padding: 20px;
    padding-bottom: 56.1%;

}
.video>iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}
footer>p{
    margin:0px;
}
footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    padding: 5px;
}